# --- Prometheus Config ---
kube-prometheus-stack:
  prometheus:
    prometheusSpec:
      retention: 5d
      storageSpec:
        volumeClaimTemplate:
          spec:
            storageClassName: local-path
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 20Gi
  grafana:
    admin:
      existingSecret: "grafana-admin-credentials"
      userKey: "admin-user"
      passwordKey: "admin-password"
    persistence:
      enabled: true
      storageClassName: local-path
      size: 10Gi
    ingress:
      enabled: true
      ingressClassName: cilium
      hosts:
        - grafana.agallaghertech.online
      path: /
      service:
        port: 80

# --- Datadog Config ---
datadog:
  apiKeyExistingSecret: datadog-secret
  site: "datadoghq.eu"
  logs:
    enabled: true
    containerCollectAll: true
  kubelet:
    tlsVerify: false
  clusterAgent:
    enabled: true
    metricsProvider:
      enabled: true