apiVersion: v1
kind: ConfigMap
metadata:
  name: study-buddy-config
  namespace: study-buddy
data:
  COGNITO_DOMAIN: {{ .Values.config.cognitoDomain }}
  AWS_REGION: {{ .Values.config.awsRegion }}
  # AWS values are now sourced from the aws-resources secret