apiVersion: v1
kind: ConfigMap
metadata:
  name: study-buddy-config
  namespace: study-buddy
data:
  COGNITO_DOMAIN: {{ .Values.config.cognitoDomain }}
  AWS_REGION: {{ .Values.config.awsRegion }}
  COGNITO_USER_POOL_ID: {{ .Values.config.cognitoPoolId }}
  COGNITO_CLIENT_ID: {{ .Values.config.cognitoClientId }}